* {
    margin: 0;
    padding: 0;
}


/* header section */

#header-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    background-color: white;
}
.logo-desktop {
    display: flex;
    align-items: center;
}
.logo-desktop img {
        display: flex;
        height: 32px;
        margin-left: 24px;
    }
    .blacklogo {
        color: black;
    }
    .greylogo {
        color: gray;
    }
    .navitems-desktop {
    display: flex;
    align-items: center;
    margin-right: 24px;
    }
    
    .devider{
            display: border-box;
            background-color: turquoise;
            width: 17px;
            height: 64px;
            margin: 0 1px;
            }

    a {
        text-decoration: none;
        color: black;
    }


    /* header mobile */

    #header-mobile {
        height: 64px;
        background-color: white;
        padding: 0 24px; 
    }

    .navitems-mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }

 @media only screen and (max-width: 559px) {
        #header-desktop { display: none;
         }
 }
@media only screen and (min-width: 560px) {
     #header-mobile { display: none;
     }
 }

body {
/* section 1 */

    #start {
    background-color:lightgrey;
    height: 500px;
    }

/* section 2 */

    #oncampus  {
    background-color: white;
    height: 500px;
    }

/* section 3 */

    #online {
        background-color:lightgrey;
        height: 500px;
    }

/* section 4 */

    #forcompanies {
        background-color: white;
        height: 500px;
    }
}

footer {
    display: flex;
    justify-content: space-between;
    align-items:baseline;
    height: 100px;
    background-color: white;
    border-top: 1px solid lightgrey;
}

.textfooter {
    display: flex;
    align-items: start;
    padding: 16px 0 0 24px;
}

.navfooter {
    display: flex;
    align-items: start;
    padding: 16px 24px 0 0; 
}
    .navfooter span {
        padding: 0 10px;
    }

    a {
        text-decoration: none;
        color: black;
    }